{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <fieldset>
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-default"/>
                </div>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>

{% endblock fos_user_content %}